@use '~components/variables.module.scss' as *;

.container {
  background-color: $white;
  border-radius: 50%;
  box-shadow: rgba($black, 0.24) 0 3px 8px;
  padding: 1rem;
}

.image {
  height: 100%;
  object-fit: contain;
  width: 100%;
}
