@use '~components/variables.module.scss' as *;

.container {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  position: fixed;
  width: 100vw;
}

.background {
  background-color: rgba($black, 0.2);
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.content {
  background-color: $white;
  border-radius: 8px;
  margin: 2rem;
  max-width: 55rem;
  width: 100%;
  z-index: 1001;
}
