@use '~components/variables.module.scss' as *;

$side-padding: 3rem;

.itemTitle {
  font-size: 1.4rem;
  font-weight: bold;
}

.itemPrice {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 1.5rem;
}

.paidyLogo {
  height: 5rem;
  width: 5rem;
}

.header {
  align-items: center;
  background-color: $dark-white;
  display: flex;
  justify-content: space-between;
  padding: 2rem $side-padding;
}

.submitButton {
  display: block;
  margin: 1rem auto;
  max-width: 35rem;
  width: 100%;
}

.form {
  margin-top: 3rem;
  padding: 0 $side-padding;
}

.term {
  font-size: 1.2rem;
  margin-top: 16rem;
  text-align: center;
}
