@use '~components/variables.module.scss' as *;
@use '~components/mixins.module.scss' as *;

$side-padding: 2.5rem;

.itemTitle {
  font-family: $en-font;
  font-size: 1.4rem;
  font-weight: bold;
}

.itemPrice {
  font-family: $digit-font;
  font-size: 2.2rem;
  font-weight: bold;
  margin-top: 1rem;
}

.paidyLogo {
  height: 5rem;
  width: 5rem;
}

.header {
  align-items: center;
  background-color: $dark-white;
  display: flex;
  justify-content: space-between;
  padding: 2rem $side-padding;
}

.submitButton {
  display: block;
  margin: 1rem auto 3rem;
  max-width: 30rem;
  width: 100%;

  @include desktop {
    max-width: 35rem;
  }
}

.form {
  margin-top: 3rem;
  padding: 0 $side-padding;
}

.term {
  font-size: 1.2rem;
  margin-top: 16rem;
  text-align: center;
}
