@use '~components/variables.module.scss' as *;

.container {
  border: 0;
  border-bottom: 1px solid $border;
  font-size: 1.6rem;
  padding-bottom: 0.6rem;
  transition: 0.3s ease-in;

  &:focus {
    border-bottom: 1px solid $primary;
    outline: none;
  }
}

.error {
  border-bottom: 1px solid $red !important;
}
