
// color
$blue: #4793eb;
$blue-dark: #2a64cb;
$white: #fff;
$black: #222;
$grey: #596063;
$grey-light: #d3d7db;
$red: #c00;

$primary: $blue;
$primary-dark: $blue-dark;
$border: $grey-light;

// dimens
$pc-breakpoint: 1024px;
$tablet-breakpoint: 549px;
