
// color
$blue: #4793eb;
$dark-blue: #2a64cb;
$white: #fff;
$dark-white: #f6f8fa;
$black: #222;
$grey: #596063;
$light-grey: #d3d7db;
$red: #f44336;

$primary: $blue;
$primary-dark: $dark-blue;
$border: $light-grey;

// dimens
$pc-breakpoint: 1024px;
$tablet-breakpoint: 549px;
