@use '~components/variables.module.scss' as *;

.container {
  position: relative;
}

.label {
  display: block;
  margin-bottom: 0.5rem;
}

.input {
  width: 100%;
}

.errorMessage {
  bottom: -1.4rem;
  color: $red;
  font-size: 1.2rem;
  font-weight: bold;
  position: absolute;
}
